h1 {
    font-size: 30px;
    color: purple;
}

.box1 {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-bottom: 10px;
}

.box2 {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: orange;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.box3 {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: yellow;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-bottom: 10px;
    margin-left: 60px
}

.box4 {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: green;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-bottom: 10px;
    margin-left: 90px
}

.box5 {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: blue;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-bottom: 10px;
    margin-left: 120px
}

.box6 {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: fuchsia;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin-bottom: 10px;
    margin-left: 150px
}