.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    width: 100%;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 10px;
    float: left;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
.one-quarter {
    width: 25%
}

.one-half {
    width: 50%;
}

.three-quarters {
    width: 75%;
}

.one-third {
    width: 33.33%
}

one-fourth {
    width: 25%
}

one-eighth {
    width: 12.5%
}

.two-thirds {
    width: 66.66%;
}

.one-tenth {
    width: 10%
}

.nine-tenths {
    width: 90%;
}

.row>.column.one-tenth {
    background-color: green;
    color: white;
}

.row>.column.nine-tenths {
    background-color: lightgreen;
    margin-bottom: 15px;
}