nav div {
    background-color: #CFD0D4;
}

.row.top-margin-for-rows {
    margin-top: 20px;
}

main {
    background-image: url("../images/ancient-rome.jpg");
    background-size: cover;
}

.text-center.text-color {
    font-weight: bold;
    font-size: 1.5em;
    background-color: #5A9046;
}

.input-width {
    width: 100%;
}

.button-style {
    color: white;
    background-color: #5A9046;
    font-weight: bold;
    height: 100%;
    font-size: 1.5em;
    border-radius: 50px;
    margin-top: 35px;
}
.label-size {
    width: 85%;
}

#function-return {
    font-weight: bold;
}

@media screen and (min-width: 300px) {
    .label-size {
        width: 95%;
    }
}
