nav div {
    background-color: #CFD0D4;
}

.topMarginForRows {
    margin-top: 20px;
}

main {
    background-image: url("../images/ancient-rome.jpg");
    background-size: cover;
}

.text-center.textColor {
    font-weight: bold;
    font-size: 1.5em;
    background-color: #5A9046;
}

.input-width {
    width: 100%;
}