.jumbotron {
    position: relative;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.jumbotron {
    z-index: 0;
}

.jumbotron>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: .6;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.jumbotron>img {
    width: 100%;
    height: 300px;
    z-index: -1;
    padding-left: 0;
    padding-right: 0;
}

.panel-body>button {
    float: right;
    border-radius: 9px;
    color: white;
    background-color: blue;
 }
button>a {
    color: white;
    background-color: blue;
}


.lightblue {
     background-color: lightblue;
 }

.lightgrey {
    background-color: lightgrey;
}


select {
     width: 95%;
 }

.panel {
    border-radius: 11px;

}

.curve_top {
     border-top-left-radius: 11px;
     border-top-right-radius: 11px;
 }

.curve_bottom {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}


.panel-body {
    box-sizing: border-box;
    border-bottom: .1px solid grey;
}

#size {
    width:90%;
    margin: 0 auto;
}

.panel-body.lightblue {
    color: darkblue;
}

.panel-body.lightblue>h3 {
    color: darkblue;
    font-size: 1.5em;

}

.marge {
    width: 96%;
    margin: 0 auto;
    margin-top: 15px;

}

.top_marge {
    margin-top: 15px;
}

h4 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.internal_button {
    background-color: blue;
    color: white;
    padding: 5px;
    width: 120px;
    border-radius: 10px;
    float: right;
    margin-left: 5px;
}

.internal_button>a:active {
    color: white;
}
.internal_button>a:visited {
    color: white;
}
