body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.weather-title {
    background-image: url("../images/clouds.jpg");
}

.innerBox {
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: 15px;
    background-color: #F2F2F2;
}

#map {
    height: 400px;
    width: 85%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 60px;
}

.tempResults {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 5px;
}

.otherResults {
    margin-top: 2px;
    margin-bottom: 2px;
}

.inputs {
    alignment: left;
}

#mapLocate {
    position:relative;
    left: 110px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#clearmarker {
    position:relative;
    left: 110px;
}